<footer>
    <div class="footer-container">
        <div class="footer-container-head">
            <h1>Let's Do Something Great Today!
            </h1>
            <p>
                Embark on a journey of inspiration, creativity, and discovery
            </p>
            <div class="footer-container-button">
                <button>Chat with us</button>
                <button> Get Started</button>
            </div>
        </div>
        <div class="footer-container-links">
            <div>
                <p>Social</p>
                <p>Twitter</p>
                <p>LinkedIn</p>
                <p>Facebook</p>
                <p>Github</p>
            </div>
            <div>
                <p>Legal</p>
                <p>Terms</p>
                <p>Licenses</p>
                <p>Cookies</p>
                <p>Privacy</p>
                <p>Contact</p>
            </div>
        </div>
    </div>
</footer>
