<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
    <%- include('layouts/navbar') -%>

    <div class="main">
        <h1>Don't be a stranger</h1>
        <p>Let us get to know you</p>
        <!-- <button>Get Started!</button> -->
    </div>

    <div class="contact-container">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="email">Email*</label>
        <input type="email" name="email" id="email">
        <label for="message">Message</label>
        <input type="text" name="message" id="message">
        

    </div>

    <%- include('layouts/footer') -%>
    <%- include('layouts/script') -%>
</body>
</html>
