<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
    <%- include('layouts/navbar') -%>

    <div class="main">
        <h1>Be Creative today</h1>
        <p>It all starts with the stroke of a pen</p>
        <!-- <button>Get Started!</button> -->
    </div>

    <div class="create-container">
        <form action="/posts/store" method="POST" enctype="multipart/form-data">

            <div>
                <input type="text" name="title" id="title" placeholder="Your title goes here" style="margin-top: 30px; border:none; padding-left: 30px;">
            </div>

            <div>

                <textarea rows="5" type="text" name="body" id="body" style="padding-left: 30px;"></textarea>
                <script>
                    $('#body').summernote({
                    placeholder: 'Your content comes here...',
                    tabsize: 2,
                    height: 200
                    });
                </script>
            </div>
            <div style="margin: 30px;">
                <label>Image</label>
                <input type="file" id="image" name="image">
            </div>            
            <div style="padding-left: 30px; margin-bottom: 30px;">
                <button type="submit" id="sendMessageButton" style="color: white; border: none; padding: 7px 30px; background-color: black;">Submit</button>
            </div>
        </form>        

    </div>

    <%- include('layouts/footer') -%>
    <%- include('layouts/script') -%>
</body>
</html>
