<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
    <%- include('layouts/navbar') -%>

    <div class="main">
        <h1>404 Page Not Found</h1>
        
        <!-- <button>Get Started!</button> -->
    </div>

       

    </div>

    
    <%- include('layouts/script') -%>
</body>
</html>
