body {
    background-color: whitesmoke;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive !important;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;

}

h1 {
    margin: 0;
    padding: 0;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: whitesmoke;
    top: 0;
    font-weight: bold;
    padding: 5px 15px;
    box-shadow: 0 2px 3px black;
    font-size: large;
}

.navbar > .navbar-main  {
    display: flex;
    gap: 20px;
}

.navbar > ul > li {
    list-style: none;
    cursor: pointer;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: black;
}

.logo {
    font-family: 'Dancing Script', cursive;
}

.main {
    background-image: url('../img/guven-gunes-1P1f8zPF4PM-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 800px;
    text-align: center;
    
    color: white;
}

.main > h1 {
    font-size: 50px;
}




.main > p {
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
}

.main > button {
    font-family: 'Inconsolata', monospace;
    background: transparent;
    color: inherit;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;

}

.recent-blogpost-title {
    margin: 30px;
}

.blogposts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.blogpost-container {
    width: 40%;
    max-width: 300px;
}

.blogpost-container > a {
    text-decoration: none;
    color: black;
}   

.blogpost-container-img {
    width: 100%;
    border-radius: 12px;
}

footer {
    background-color: black;
    color: white;
    padding: 40px;
    font-size: larger;
}

.footer-container-head {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-container-button > button {
    background: transparent;
    color: inherit;
    border: 2px solid white;
    padding: 10px 25px;
    font-family: inherit;
    font-size: large;
}

.footer-container-links {
    display: flex;
    justify-content: end;
    gap: 50px;
    margin-top: 30px;
}

/* contact-area */

.contact-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 30px;
    gap: 20px;

}

.contact-container > input {
    line-height: 30px;
}


.main-about-page {
    background-image: url('../img/towfiqu-barbhuiya-6FpGIdn45_A-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 500px;
    font-size: larger;
    color: white;
    text-align: center;
}

.main-about-page > h1 {
    font-family: 'Dancing Script', cursive;;
}

.contact-container {
    width: 50%;
    max-width: 500px;
}

.contact-container-button {
    font-family: inherit;
    font-weight: bold;
    padding: 10px 0;
    background-color: wheat;
    border: 1px solid #e3d5ca;

}

/* about-page */

.about-container {
    background-image: url('../img/kelly-sikkema-rwVSwdGN3o8-unsplash\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 500px;
    font-size: larger;
    color: white;
    
}

.about-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    background-color: whitesmoke;
    color: black;
    width: 70%;
    

}

.first-letter{
    font-size: 45px;
    line-height: 70px;
}

.subhead {
    letter-spacing: 1.5px;
}

.subhead::first-letter {
    initial-letter: 2em;
    
}

/* Forms */

.main-form-container {
    background-image: url('../img/guven-gunes-Iy3GN4iPLW8-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.main-form-container-sign-up {
    background-image: url('../img/natalia-y-DIewyzpUbRc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    font-family: 'Indie Flower', cursive;
}

.form-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-items: center;
    width: 100%;
    max-width: 300px;
    font-family: 'Indie Flower', cursive !important;
}

.input-margin {
    margin-top: 10px;
    color: inherit;
    opacity: 0.3;
    line-height: 30px;
    padding-left: 10px
}

.button-form {
    margin-top: 10px;
    color: rgba(234, 240, 246, 0.8);
    font-family: 'Indie Flower', cursive;
    line-height: 30px;
    background-color: black;
    border: none;
    font-weight: bolder;
    font-size: large;
}

.form-footer-container {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 90px 20px 0 20px;
    font-size: smaller;
}

.form-footer-container-about {
    display: flex;
    gap: 5px;
}

/* post */

.masthead {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-body {
   padding: 50px;
   width: 100%;
   max-width: 500px;
   margin: 0 auto;
    
}

@media (max-with: 600px) {
    .form-footer-container {
        font-size: xx-small;
    }
}